#Pymaceuticals: Capomulin Observations and Insights

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_data = pd.read_csv(mouse_metadata_path)
study_info = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_data_df = pd.merge(mouse_data, study_info, how='outer', on='Mouse ID')

mouse_data_cleaned_df = mouse_data_df.drop_duplicates(subset=['Mouse ID', 'Timepoint'], keep=False)
mouse_data_cleaned_df

# # Combine the data into a single dataset
# mouse_data_df = pd.merge(mouse_data, study_info, how='outer', on='Mouse ID')
# mouse_data_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [15]:
#Generate a summary statistics table of mean, median, variance, standard deviation and SEM of the tumor volumemfor each drug regimen

mouse_summary_df = mouse_data_cleaned_df.groupby("Drug Regimen")
mouse_summary_df

#Mean
tumor_volume_mean = mouse_summary_df["Tumor Volume (mm3)"].mean()
#Median
tumor_volume_median = mouse_summary_df["Tumor Volume (mm3)"].median()
#Standard Deviation
tumor_volume_stdev = mouse_summary_df["Tumor Volume (mm3)"].std()
#SEM
tumor_volume_sem = mouse_summary_df["Tumor Volume (mm3)"].sem()

#Create DataFrame holding all calculations
mouse_summary_grouped_df = pd.DataFrame({"Mean": tumor_volume_mean, "Median": tumor_volume_median, "Standard Deviation": tumor_volume_stdev, "SEM": tumor_volume_sem})

mouse_summary_grouped_df.head()

                   Mean     Median  Standard Deviation       SEM
Drug Regimen
Capomulin     40.675741  41.557809            4.994774  0.329346
Ceftamin      52.591172  51.776157            6.268188  0.469821
Infubinol     52.884795  51.820584            6.567243  0.492236
Ketapril      55.235638  53.698743            8.279709  0.603860
Naftisol      54.331565  52.509285            8.134708  0.596466

In [2]:
study_info

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]